
[MASTER]

# Import the BlueSky modules so the linter can find them
init-hook="import sys; import os; sys.path.append(os.path.join(os.path.dirname(os.path.realpath(__file__)), os.path.abspath('./bluesky')))"

[BASIC]

good-names=log

[FORMAT]

indent-string=\t

[MESSAGES CONTROL]

# Disable any warnings for TODO comments
disable=W0511