# TODO(RKM 2019-11-20) Make the docker push only happen for tagged builds on master

dist: bionic

language: python
python:
  - "3.8"

cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit

before_install:
  - pip install -r requirements-dev.txt
  - pre-commit install
  - pre-commit run --all-files

install:
  - pip install -r requirements.txt
  # TODO(rkm 2020-04-26) Always ensures we have the latest Aviary version. Remove this once it's available on PyPI
  - pip install --force-reinstall --no-cache-dir git+https://github.com/alan-turing-institute/aviary.git@develop#egg=aviary

script:
  - coverage run -m pytest -rs --ignore=./tests/integration ./tests
  # Pre-build the BlueBird docker image
  - docker build --quiet .
  - pytest -rs ./tests/integration/bluesky/happy_path_test.py
  # Just print the results for now
  - coverage report
