branches:
  only:
  - master
  - /^release\/.*$/
  - /^hotfix\/.*$/

dist: bionic

language: python
python:
  - "3.7"

before_install:
  - "git pull --all"
  - "echo $PWD"
  - "export BLUEBIRD_HOME=$PWD"

before_install:
  - pip install black
  - black --check bluebird/ tests/ run.py

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt

script:
  - pytest -rs --ignore=./tests/integration ./tests
  - pytest -rs  ./tests/integration

after_success:
  - "bash $BLUEBIRD_HOME/.travis-build.sh"
